
body{

    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;

}

img{
    width: 110%;
    margin: auto;
    border-radius: 10px;
    
    

    
}
.image{
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    
}
p{
    color: hsl(220, 15%, 55%);
}
h3{
    font-family: 'Outfit', sans-serif;
    color:  hsl(218, 44%, 22%);
}
.wrapper{
    background: hsl(0, 0%, 100%);
    margin: 20%;
    max-width: 380px;
    height: 90vh;
    border-radius: 20px;
    
}